.items-body-content
  = comment.commenter
  = ":"
  = comment.body
  = button_to article_comment_path(comment.article, comment), method: :delete, data: {confirm: "Are you sure?"}, style: "background-color: white; border: none" do
    %i.fa.fa-close{style: 'float: right; margin: 10px'}
      
  

