
- if !current_page?(controller:'home', action: 'index')
  .header
    = link_to '/', class: 'button' do 
      %i.fa.fa-home

    - if action_name != "index"
      - if controller_name == "articles"
        = link_to '/articles', class: 'button' do 
          %i.fa.fa-book

      - if controller_name == "orders"
        = link_to '/orders', class: 'button' do 
          %i.fa.fa-bars
    
    = link_to :back, class: 'button' do 
      %i.fa.fa-arrow-left
        